[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "==0.24.0"
pillow = "==9.5.0"
playwright = "==1.33.0"
tenacity = "==8.2.2"
tornado = "==6.3.2"
pyexecjs = "==1.5.1"
opencv-python = "==4.7.0.72"
tortoise-orm = {version = "==0.19.3", extras = ["asyncmy"]}
aerich = "==0.7.2"
numpy = "~=1.24.4"
redis = "~=4.6.0"
pydantic = "==1.7"

[dev-packages]

[requires]
python_version = "3.11"
